/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ddd;
  border-top: .05rem solid #e5e5e5;
}

footer > #footer-contact {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#copyright {
    float: right;
}

#logo {
    display: inline-block;
    width: 7rem;
    height: 5rem;
    padding-right: 1rem;
}

#main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 200%;
}

.topbar {
    padding: 3rem;
    margin-bottom: 0.5rem;
    background-color: #ddd;
    overflow: hidden;
}

.bg-theme {
    background-color: darkorange; 
}

.navbar .navbar-nav {
    display: inline-block;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

body{
    background-color: #EEE;
}

.jumbotron {
    background-color: #DDD;
}

.centered {
  margin: auto;
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.top {
  margin-top: 0px;
  padding-top: 0px;
}

.round-corners-theme {
    border-radius: 10px;
}

.contact-element {
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar {
	text-align:center;
    overflow: hidden;
}
.navbar .nav {
	float:none;
}
.navbar .nav li {
	display:inline-block;
	margin:0 0rem;
	vertical-align:middle;
}
.navbar .nav li a:hover {
	background: lightgray
}

.navbar .active {
  background-color: #E3E3E3;
  color: dimgrey;
}