/* tablet/smaller desktop */
@media screen and (min-width: 680px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  .navbar {
    font-size: 150%;
  }

  .contact-element {
    font-size: 150%;
  }

  .container {
    max-width: 100rem;
  }
}

/* full desktop */
@media (min-width: 992px) {
  #logo {
    display: inline-block;
    width: 12rem;
    height: 10rem;
    padding-right: 1rem;
  }

  #main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 400%;
  }
}